name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - uses: maxim-lobanov/setup-xcode@v1.3.0
      with:
        xcode-version: latest
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
